<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libcss/materialize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libcss/style.css') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='lib/leaflet/leaflet.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/map.css') }}">
        {% block head_scripts %}{% endblock %}


	</head>
	<body>
        {% block content %}{% endblock %}
        <script type=text/javascript>
            $ARROW = "{{ url_for('static', filename='img/long-arrow-pointing-up.png') }}";
        </script>
        <script src="{{ url_for('static', filename='lib/jQuery/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/materialize/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/materialize/init.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/helpers.js') }}"></script>
        {% block body_scripts %}{% endblock %}
	</body>
</html>
