{% extends 'base.html' %}

{% block title %}PollenRadar HH{% endblock title %}

{% block content %}
<nav id="navbar_color" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="{{ url_for('static', filename='img/icons8-pollen-50.png') }}"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" id="titelbild">
      <h1 id="titeltext" class="header center">Pollenradar</h1>
      <div class="row center">
        <h5 class="header col s12 light">Hier erfährst du ALLES zur aktuellen Pollengefährdung in Hamburg.</h5>
      </div>



    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center icon_startseite"><i class="material-icons">location_on</i></h2>
            <h5 class="center header_startseite">Du bist hier:</h5>

            <p id="adresse_standort" class="center"></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center icon_startseite"><i class="material-icons">nature_people</i></h2>
            <h5 class="center header_startseite">Aktuelle Gefährdung</h5>

            <div id="gefaehrdung_block" class="center">
              <!-- <a class="btn-large disabled" id="birke_gefahr">Birke</a>
              <a class="btn-large disabled" id="hasel_gefahr">Hasel</a>
              <a class="btn-large disabled" id="esche_gefahr">Esche</a>
              <a class="btn-large disabled" id="erle_gefahr">Erle</a> -->
              <button disabled class="gefahr_anzeige" id="Birke_gefahr"></button>
              <button disabled class="gefahr_anzeige" id="Hasel_gefahr"></button>
              <button disabled class="gefahr_anzeige" id="Esche_gefahr"></button>
              <button disabled class="gefahr_anzeige" id="Erle_gefahr"></button>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text icon_startseite"><img src="{{ url_for('static', filename='img/weather-18-48.png') }}"></img></h2>
            <h5 class="center header_startseite">Wetter</h5>

            <p id="wetterlage_start" class="center"></p>
            <p id="temp_start" class="center"></p>
            <p id="nied_start" class="center"></p>
            <p id="wind_start" class="center"></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row center">
    <a href="/map" id="download-button" class="btn-large waves-effect waves-light orange">Zur Karte</a>
  </div>

  <br>

  <!-- <footer id="footer_color" class="page-footer orange"> -->
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col l6 s12"> -->
          <!-- <h5 class="black-text">Company Bio</h5> -->
          <!-- <p class="black-text">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p> -->


        <!-- </div> -->
        <!-- <div class="col l3 s12"> -->
          <!-- <h5 class="black-text">Settings</h5> -->
          <!-- <ul> -->
            <!-- <li><a class="black-text" href="#!">Link 1</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 2</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 3</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 4</a></li> -->
          <!-- </ul> -->
        <!-- </div> -->
        <!-- <div class="col l3 s12"> -->
          <!-- <h5 class="black-text">Connect</h5> -->
          <!-- <ul> -->
            <!-- <li><a class="black-text" href="#!">Link 1</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 2</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 3</a></li> -->
            <!-- <li><a class="black-text" href="#!">Link 4</a></li> -->
          <!-- </ul> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="footer-copyright"> -->
      <!-- <div class="container"> -->
      <!-- Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </footer> -->


  <!--  Scripts-->
{% endblock content %}
{% block body_scripts %}
<script src="{{ url_for('static', filename='assets/js/weather.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/geocoding.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pollen.js') }}"></script>
{% endblock body_scripts %}
