{% extends 'base.html' %}

{% block title %}PollenRadar HH - Karte{% endblock title %}

{% block head_scripts %}
    <script src="{{ url_for('static', filename='lib/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/leaflet/leaflet.rotatedMarker.js') }}"></script>
    <script src="https://unpkg.com/geotiff@0.4.1/dist/geotiff.browserify.js"></script>
    <script src="https://unpkg.com/plotty@0.2.0/src/plotty.js"></script>
    <script src="{{ url_for('static', filename='lib/leaflet-geotiff/leaflet-geotiff.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/leaflet-geotiff/leaflet-geotiff-plotty.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/leaflet-svg-markers/leaflet-svg-shape-markers.js') }}"></script>
{% endblock head_scripts %}

{% block content %}
    <div id="mapid"></div>
    <a id="routenplanung" class="btn"><i class="material-icons">directions</i></a>
    <div id="routeneingabe">
        <div class="close_rt_div"><i id="rt_div_close" class="material-icons">close</i></div>
        <a class="css_route" id="start_route">Startpunkt auf der Karte auswählen!</a>
        <p hidden id="start_coords"></p>
        <a class="css_route" id="end_route">Endpunkt auf der Karte auswählen!</a>
        <p hidden id="end_coords"></p>
		<p hidden id="bbx_route"></p>
		<div id="model_btn">
			<a id="get_trees_model" class="waves-effect waves-light btn-small">Pollenausbreitung</a>
		</div>
    </div>
{% endblock content %}

{% block body_scripts %}
    <script src="{{ url_for('static', filename='assets/js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/routing.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/raster.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/legend.js') }}"></script>
{% endblock body_scripts %}

