/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* geänderte Klassen von Materialize */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav-trigger{
  color: black;
}

/* eigene Klassen */

/* Startseite Anzeige der aktuellen Pollengefährdung pro Baumart */
.gefahr_anzeige {
  height: 60px;
  width: 120px;
  border: 1px solid #949494;
  border-radius: 10px;
  margin-top: 1%;
  color: black;
}

.icon_startseite {
  margin: 0 !important;
}

.header_startseite {
  margin-top: 0 !important;
  margin-bottom: 14px !important;
}

/* eigene IDs */

/* section abschnitt (standort, gefährdung, wetter) */
#adresse_standort {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

#gefaehrdung_block {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

#wetterlage_start {
  margin-top: 0 !important;
  margin-bottom: 4px !important;
}

#temp_start {
  margin-top: 0 !important;
  margin-bottom: 4px !important;
}

#nied_start {
  margin-top: 0 !important;
  margin-bottom: 4px !important;
}
#wind_start {
  margin-top: 0 !important;
  margin-bottom: 4px !important;
}

#birke_gefahr{
  color: black;
  background-color: #ff6f00;
}
#hasel_gefahr{
  color: black;
  background-color: #ffb300;
}
#esche_gefahr{
  color: black;
  background-color: #ffb300;
}
#erle_gefahr{
  color: black;
  background-color: #ffe082;
}

#navbar_color{
  background-color: #ffd800;
}

/* #titelbild:before {
  content: ' ';
  display: block;
  position: absolute;
  background-image: url(../bilder/bluetenstaub.jpg);
  background-size: cover;
  z-index: 1;
  opacity: 0.6;
  margin: 0 !important;
  width: 100% !important;
} */

#titelbild:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 38%;
  z-index: -1;
  opacity: 0.6;
  background-image: url(../img/bluetenstaub.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#titeltext {
  margin: 15px;
  color: #ffd800;
}

#download-button{
  background-color: #ffd800 !important;
  color: black !important;
}

#footer_color{
  background-color: #ffd800 !important;
}

#index-banner {
  padding-top: 0 !important;
}

