#mapid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#routeneingabe {
    position: absolute;
    top: 77%;
    left: 0px;
    width: 100%;
    height: 20%;
    background-color: white;
    z-index: 1000;
    visibility: hidden;
}

#routenplanung {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    background-clip: padding-box;
    float: right;
    margin-top: 65px !important;
    margin-right: 10px !important;
    box-shadow: none;
    background: #fff;
    cursor: auto;
    position: relative;
    z-index: 800;
    width: 48px;
    height: 48px;
    display: block;
    padding: 0;
}

#model_btn {
	text-align: center;
	margin-top: 2%;
}

#get_trees_model {
	background-color: #ffd800;
	color: grey;
	text-transform: none;
	font-weight: bold;
}

.btn i {
    color: grey;
    padding-top: 4px;
    font-size: 2rem;
}

input[type="text"]:not(.browser-default){
    width: 80%;
}

.css_route {
    display: block;
    color: grey;
    border-bottom: 1px solid black;
    /* margin-top: 25px; */
    margin-left: 10%;
    width: 80%;
}

#start_route {
    margin-bottom: 15px;
}

.close_rt_div {
    margin-left: 92%;
}

.info {
    padding: 6px 8px;
    font: 12px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
